/* Buttons */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"]
),
:where(input[type="file"])::file-selector-button {
	font-size: 1em;
	border: 0;
	margin: 2px;
	cursor: pointer;
	text-decoration: none;
	padding: .5em .75em;
	color: var(--on-accent);
	background-color: var(--accent);
	border-radius: var(--radius);
	transition: var(--trans);
}

/* FIXME: Big */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"]
).b,
:where(input[type="file"])::file-selector-button.b {
	padding: .75em 1em;
}

/* Hover */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"]
):where(:not(:active):hover) {
	background-color: rgba(var(--accent-rgb), 0.9);
}

/* Pressing */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"]
):where(:active) {
	background-color: rgba(var(--accent-rgb), 0.8);
}
