/* Buttons */
:where(button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="file"]),
:where(input[type="file"])::file-selector-button {
	font-size: 1em;
	border: 0;
	margin: 2px;
	cursor: pointer;
	text-decoration: none;
	padding: .5em .75em;
	color: var(--on-accent);
	background-color: var(--accent);
	border-radius: var(--radius);
	transition: var(--trans);

	&:not(:active) {
		&:hover {
			background-color: rgba(var(--accent-rgb), 0.9);
		}
	}

	&:active {
		background-color: rgba(var(--accent-rgb), 0.8);
	}

	/* Secondary */
	&.s {
		color: var(--accent);
		background-color: rgba(var(--gray-rgb), .25);
		padding: .3em .5em;
		border-radius: calc(var(--radius) * 10);

		&:not(:active):hover {
			background-color: rgba(var(--gray-rgb), .2);
		}

		&:active {
			background-color: rgba(var(--gray-rgb), .15);
		}
	}


	/* Big */
	&.b {
		padding: .75em 1em;
	}

	/* Reset */
	&[type="reset"] {
		background-color: var(--red);

		&:not(:active):hover {
			background-color: rgba(var(--red-rgb), 0.9);
		}

		&:active {
			background-color: rgba(var(--red-rgb), 0.8);
		}
	}
}
