/* Global */
[disabled], :disabled {
	cursor: not-allowed;
}


/* Buttons */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"]
)[disabled] {
	background-color: rgba(var(--accent-rgb), 0.6);
}

/* Secondary */
:where(
	button,
	a[role="button"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"]
).s[disabled] {
	opacity: .75;
	background-color: rgba(var(--gray-rgb), .2);
}

/* Reset disabled */
:where([type="reset"])[disabled] {
	background-color: rgba(var(--red-rgb), 0.6);
}


/* Inputs */
input[disabled], textarea[disabled] {
	background-color: rgba(var(--gray-rgb), 0.2);
}
