/* Inputs */
input:not(:where([type="button"], [type="submit"], [type="reset"])), textarea, select {
	font: var(--sans);
	border: 1px solid var(--gray);
	border-radius: var(--radius);
	padding: .25em .5em;
	font-size: 1.125em;
}

/* Focus */
input:focus, textarea:focus, select:focus {
	border-color: var(--accent);
}

/* Small */
input.s, textarea.s, select.s {
	font-size: 1em;
}

/* Big */
input.b, textarea.b, select.b {
	font-size: 1.25em;
}

/* Special */
input[type="number"] {
	font-family: var(--mono);
}

input[type="search"] {
	border-radius: calc(var(--radius) * 10);
}

input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
	vertical-align: text-bottom;
}


/* Labels */
label {
	cursor: pointer;
}

label, .label {
	color: var(--gray);
	text-transform: uppercase;
	letter-spacing: 1px;
}
