nav {
	display: flex;
	gap: .125em;
	overflow: scroll;
}

nav a {
	border-radius: var(--radius);
	padding: .5em .75em;
	border-bottom: 2px solid transparent;
}

nav a:hover {
	text-decoration: none;
	background-color: rgba(var(--gray-rgb), 0.25);
}

nav a.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: var(--accent);
}
